* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f4;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.gallery-container {
  max-width: 750px;
  margin: 5em 0 0 15em;
  border: 1px solid lightgray;
}

.main-image {
  position: relative;
  width: 100%;
  height: 750px;
  border-bottom: 1px solid lightgray;
}

.main-image:hover {
  cursor: zoom-in;
}

.main-image:hover .arrows {
  opacity: 1;
  transition: all 0.3s;
  cursor: pointer;
}

.main-image:hover .right-arrow {
  right: 0.3em;
}

.main-image:hover .left-arrow {
  left: 0.3em;
}

.right-arrow {
  right: -1em;
}

.left-arrow {
  left: -1em;
}

.arrows {
  position: absolute;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.5);
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
  opacity: 0;
  cursor: pointer;
}

.arrows:hover {
  color: rgba(255, 255, 255, 0.8);
}

.thumbnails {
  max-width: 100%;
  height: 4.8em;
  display: flex;
  padding: 0.3em 0 0.3em 0;
  overflow-x: scroll;
}

.thumbnails img {
  width: 4.5em;
  height: 4.5em;
  padding: 0.3em;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s;
}

/* The thumbnail with active class does not get hover effect */
.thumbnails img:hover:not(.active) {
  opacity: 0.8;
}

.thumbnails .active {
  opacity: 1;
}

/* When we click on the thumbnail we get a flash on the image */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease-in 1 forwards;
}

/* MODAL OVERLAY STYLING */

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: all 0.3s;
  animation-name: dissolve;
  animation-duration: 0.6s;
}
/* Dissolve animation when we click the zoom on the main image */
@keyframes dissolve {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-main-image {
  position: relative;
  max-width: 750px;
  height: 750px;
  margin: auto;
}

.thumbnails-container {
  max-width: 1050px;
  margin: auto;
}

.modal-thumbnails {
  max-width: 100%;
  margin: 2em auto;
  height: 4.8em;
  display: flex;
  padding: 0.3em 0 0.3em 0;
  overflow-x: scroll;
}

.modal-inner-container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 5em;
}

.modal-arrows {
  position: absolute;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.5);
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
  cursor: pointer;
}

.modal-arrows:hover {
  color: rgba(255, 255, 255, 0.8);
}

.modal-right-arrow {
  right: 1em;
}

.modal-left-arrow {
  left: 1em;
}

.closeBtn {
  position: absolute;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.5);
  top: 1em;
  right: 1em;
  transition: color 0.3s;
  cursor: pointer;
}

.closeBtn:hover {
  color: rgba(255, 255, 255, 0.8);
}

.modal-thumbnails img {
  opacity: 0.6;
  transition: all 0.3s;
  cursor: pointer;
}
.modal-thumbnails img:hover:not(.active) {
  opacity: 0.8;
}

.modal-thumbnails .active {
  opacity: 1;
}
